services:
  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    volumes:
      - loki-data:/loki
#      - ./loki-config.yaml:/etc/loki/local-config.yaml
#      references host path
#      relative to docker-compose.yml file
    networks:
      - grafana-network

  zipkin:
    image: openzipkin/zipkin:latest
    ports:
      - "9411:9411"
    environment:
      STORAGE_TYPE: mem # Or cassandra, elasticsearch, mysql, etc.
    volumes:
      - zipkin-data:/tmp # Mount the volume to /tmp inside the container
    networks:
      - grafana-network

  prometheus:
    image: prom/prometheus
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
      - prometheus-data:/prometheus
    networks:
      - grafana-network
    ports:
      - 9090:9090

  pyroscope:
    image: grafana/pyroscope:latest
    ports:
      - "4040:4040"  # Pyroscope UI
      - "4041:4041"  # Pyroscope agent push
    volumes:
      - pyroscope-data:/var/lib/pyroscope
    command:
      - server
      - --storage-path=/var/lib/pyroscope
    networks:
      - grafana-network

  # OpenTelemetry Collector Service
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    ports:
      # OTLP Receivers (Used by application SDKs to send data)
      - "4317:4317"  # OTLP gRPC receiver
      - "4318:4318"  # OTLP HTTP receiver
      # Other Receivers (e.g., for Prometheus scraping or Zipkin/Jaeger inputs)
      - "55680:55680" # Prometheus receiver
    volumes:
      # Refer 'otel-collector-config.yaml' for the config
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    command: ["--config=/etc/otel-collector-config.yaml"]
    networks:
      - grafana-network
    depends_on:
      - loki
      - zipkin
      - prometheus # Add other backends here if the collector exports to them

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - grafana-network
    depends_on:
      - loki
      - zipkin
      - prometheus
      - otel-collector # Added dependency
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana

networks:
  grafana-network:

volumes:
  grafana-data:
  pyroscope-data:
  prometheus-data:
  loki-data:
  zipkin-data: