receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"
#  prometheus:
#    config:
#      scrape_configs:
#        - job_name: 'otel-collector'
#          static_configs:
#            - targets: ['0.0.0.0:55680'] # Scrape the collector itself

processors:
  attributes/add_userId_field:
    actions:
      # The value "userId" here must match the key you used in MDC
      - key: userId
        value: "%{userId}"
        action: insert

exporters:
  zipkin:
    endpoint: "http://zipkin:9411/api/v2/spans"
  otlphttp: # this is for loki
    endpoint: "http://loki:3100/otlp"
    tls:
      insecure: true # Use insecure if no TLS is configured
  prometheus:
    endpoint: "0.0.0.0:9090"

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [zipkin] # send traces to zipkin and log them
    metrics:
      receivers: [otlp]
      exporters: [prometheus] # send metrics to promethus and loki and log them (this logs metrics in loki in log format)
    logs:
      receivers: [otlp]
      processors: [attributes/add_userId_field] # check the corresponding processor
      exporters: [otlphttp] # send logs to loki and log them

#extensions:
#  prometheus_scraper:
#    collection_interval: 10s
